SILICONFLOW_API_KEY=
SILICONFLOW_URL_EMBEDDING=
SILICONFLOW_URL_RERANK=
PINECONE_API_KEY=
NAME_PINECONE_DENSE=
NAME_PINECONE_SPARSE=
NAMESPACE=
EMBED_DIM=
OPENAI_API_KEY=
TOGETHER_API_KEY=
NAMESPACE2=