playwright
requests
beautifulsoup4
lxml
gradio 
pillow
pandas
numpy
matplotlib
pinecone
pinecone_text
# tenacity
# httpx
pinecone[grpc]
langchain_openai
langchain
together
# fastapi[standard]
# requests
# uvicorn[standard]
qdrant-client
scikit-learn
transformers
pytorch